<ion-header>
  <ion-navbar>
    <ion-title>Details</ion-title>
  </ion-navbar>
</ion-header>
<ion-content padding (pan)=swipe($event)>
  <ion-card>
    <img class="profile-photo" src="{{profile?.photoUrl ? transformUrl(profile.photoUrl) : 'assets/no_photo.png'}}" />
    <ion-item class="photo">
      <h1>{{ profile?.firstName }} {{ profile?.lastName }}</h1>

      <div>
        <button *ngIf="isAdmin" ion-button icon-left (click)="goToProfileAdminScreen(profile.id)" color="primary">
          <ion-icon name="create"></ion-icon> Edit Profile
        </button>
        <button *ngIf="isAdmin" ion-button icon-left (click)="goToPictureUploadScreen(profile.id)" color="primary">
          <ion-icon name="person"></ion-icon> Change Photo
        </button>
      </div>

      <div>
        <button *ngIf="isAdmin" ion-button icon-left (click)="deleteProfile(profile?.id)" color="danger">
          <ion-icon name="trash"></ion-icon> Delete Profile
        </button>
      </div>

    </ion-item>
  </ion-card>
  <ion-grid *ngIf="profile != null">
    <ion-row>
      <ion-col col-12>
        <ion-list>
          <ion-item text-wrap>
            Primary Skillset:
            <strong>{{ profile.primarySkillset || 'N/A' }}</strong>
          </ion-item>
          <ion-item text-wrap>
            Client:
            <strong>{{ profile.client || 'N/A' }}</strong>
          </ion-item>
        </ion-list>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
