page-directory-detail {
  .profile-icon{
    border-radius:30px;
    width:100%;
    img{
      width:100%;
    }
  }
  h3.name,h5.role{
    margin-top:5px !important;
  }
  [col-8].header-detail{
    padding:20px 10px;
  }
}


