<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Register</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
  <form [formGroup]="registerForm" (ngSubmit)="registerUser()">
    <ion-list>
      <ion-item>
        <ion-label color="primary" stacked>Email</ion-label>
        <ion-input type="email" formControlName="email" #email></ion-input>
      </ion-item>

      <ion-item no-lines *ngIf="!registerForm.controls.email.valid && registerForm.controls.email.errors.pattern && (registerForm.controls.email.dirty)">
        <p>Please enter a valid Excella email.</p>
      </ion-item>

      <ion-item>
        <ion-label color="primary" stacked>Password</ion-label>
        <ion-input type="password" formControlName="password"></ion-input>
      </ion-item>

      <ion-item no-lines *ngIf="!registerForm.controls.password.valid && registerForm.controls.password.errors.minlength && (registerForm.controls.password.dirty)">
        <p>Password must be at least 8 characters.</p>
      </ion-item>

      <ion-item>
        <ion-label color="primary" stacked>Confirm Password</ion-label>
        <ion-input type="password" formControlName="confirmPassword"></ion-input>
      </ion-item>

      <ion-item no-lines *ngIf="!registerForm.controls.confirmPassword.valid && registerForm.controls.confirmPassword.errors.minlength && (registerForm.controls.confirmPassword.dirty)">
        <p>Password must be at least 8 characters.</p>
      </ion-item>

      <ion-item no-lines *ngIf="!registerForm.controls.confirmPassword.valid && registerForm.controls.confirmPassword.errors.passwordsDoNotMatch  && (registerForm.controls.confirmPassword.dirty)">
        <p>Passwords do not match.</p>
      </ion-item>
    </ion-list>
    <button ion-button type="submit" color="primary" [disabled]='!registerForm.valid'>Create Account</button>
  </form>

</ion-content>
