<ion-header>
  <ion-navbar>
    <ion-title>Directory</ion-title>
  </ion-navbar>
  <ion-searchbar [(ngModel)]="searchTextValue" (ionCancel)="onCancel($event)" (ionInput)="onInput($event)" debounce="0" animated="true"></ion-searchbar>
</ion-header>
<ion-content>
  <ion-list>
    <button ion-item *ngFor="let profile of profilesToDisplay" (click)="goToDirectoryDetail(profile)">
      <ion-avatar item-start>
        <cl-image *ngIf="profile.photoUrl" public-id="{{transformUrl(profile.photoUrl)}}">
          <cl-transformation quality="auto:low" fetch_format="auto" width="40px"></cl-transformation>
        </cl-image>
        <img *ngIf="!profile.photoUrl" src="assets/no_photo.png ">
      </ion-avatar>
      {{getFullName(profile)}}
    </button>
  </ion-list>
  <ion-fab *ngIf="isAdmin" right bottom>
    <button ion-fab color="primary" (click)="goToProfileAdminScreen()">
      <ion-icon name="add"></ion-icon>
    </button>
  </ion-fab>
  <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
    <ion-infinite-scroll-content></ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>
