<ion-header>

  <ion-navbar>
    <ion-title>Directory</ion-title>
  </ion-navbar>

</ion-header>

<ion-content>
  <ion-searchbar [(ngModel)]="searchText"></ion-searchbar>
  <ion-list>
    <button ion-item *ngFor="let profile of profilesToDisplay | search: searchText" (click)="goToDirectoryDetail(profile)">
      <ion-avatar item-start>
        <cl-image *ngIf="profile.photoUrl" public-id="{{profile.photoUrl}}">
          <cl-transformation quality="auto:low" fetch_format="auto" width="40px"></cl-transformation>
        </cl-image>
        <img *ngIf="!profile.photoUrl " src="/assets/no_photo.png ">
      </ion-avatar>
      {{getFullName(profile)}}
    </button>
  </ion-list>

  <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
    <ion-infinite-scroll-content></ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>
