<ion-header>
  <ion-navbar>
    <ion-title>Reset Password</ion-title>
  </ion-navbar>
</ion-header>
<ion-content padding>
  <form [formGroup]="resetPasswordForm" (ngSubmit)="resetPassword()">
    <ion-list no-lines>
      <ion-item *ngIf="false">
        <ion-label color="primary" stacked>Reset Token</ion-label>
        <ion-input type="text" formControlName="resetToken"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label color="primary" stacked>New Password</ion-label>
        <ion-input type="password" formControlName="password"></ion-input>
      </ion-item>
      <ion-item no-lines *ngIf="!resetPasswordForm.controls.password.valid && resetPasswordForm.controls.password.errors.minlength && (resetPasswordForm.controls.password.dirty)">
        <p>Password must be at least 8 characters.</p>
      </ion-item>
      <ion-item>
        <ion-label color="primary" stacked>Confirm Password</ion-label>
        <ion-input type="password" formControlName="confirmPassword"></ion-input>
      </ion-item>
      <ion-item no-lines *ngIf="!resetPasswordForm.controls.confirmPassword.valid && resetPasswordForm.controls.confirmPassword.errors.passwordsDoNotMatch  && (resetPasswordForm.controls.confirmPassword.dirty)">
        <p>Passwords do not match.</p>
      </ion-item>
    </ion-list>
    <button ion-button type="submit" color="primary" [disabled]='!resetPasswordForm.valid'>Change Password</button>
  </form>
</ion-content>
