ion-card img {
  object-fit: contain;
  display: block;
  margin: 5px auto;
  height: 80%;
  width: 95% !important;
}

ion-item.photo {
  text-align: center;
}

ion-card.upload-photo {
  height: 40%;
}
